<div class="bkImage" >
</div>
<div class="background">

    <h1>Southeast Asia's <strong><span class="p">Largest Trusted</span></strong> Community of Doctors</h1>
    <p class="info">Exchange ideas with the best doctors in the region. Receive educational resources designed
        by well known and respected leaders. Attend virtual discussions with world-class speakers.</p>
    <button class="btn btn-primary"><a class="button" href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist" target="_blank"></a>Get Started</button>
</div>