<app-header></app-header><br />

<body>
    <div class="container">
        <div class="Image">
            <app-body-photo></app-body-photo>
        </div>
       <div class="loginReg">
        
            <div>
            <!-- <ng-container *ngComponentOutlet="comp"> -->
                <router-outlet></router-outlet>
            <!-- </ng-container> -->
            
         
                <!-- <p class="log">Let's get you <button class="btn btn-dark" (click)="detectComp(message)">{{msg}}</button>
                </p> -->
            </div>
        </div>
        
       </div>
    
</body>
<app-footer></app-footer>